<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie add</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
  <header>
    <%- include('../partials/navbar.ejs')%>
  </header>
  <div class="container">
    <h1 class="display-6">Agregar pelicula
    </h1>
    <div class="contentFlex">
      <a href="/movies">Listado de peliculas</a>
      <a href="/movies/new">Péliculas nuevas</a>
      <a href="/movies/recommended">Péliculas Recomendadas</a>
      <a href="/genres">Géneros</a>
      <a href="/actors">Actores</a>
    </div>
    <form action="/movies/create" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text"  name="title"  required class="form-control">
      </div>
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="number" name="rating"  required class="form-control">
      </div>
      <div class="mb-3">
        <label for="awards" class="form-label">Awards</label>
        <input type="number" name="awards" required class="form-control">
      </div>
      <div class="mb-3">
        <label for="release_date" class="form-label">Release_date</label>
        <input type="date" name="release_date"  required class="form-control">
      </div>
      <div class="mb-3">
        <label for="length" class="form-label">Length</label>
        <input input type="number" name="length"  required class="form-control">
      </div>
      <div style="text-align: right;">
        <button type="submit" class="btn submit">Actualizar</button>
      </div>
    </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


</body>

</html>