<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="navbar-brand">    
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </div>
   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-size: 1.2rem;">
       Modulo 6: <strong style="margin-left: 0.5em; color: #cb1e40;"> Base de datos</strong> 
    </div>
  </div>
</nav>